<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">个人中心</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">

        <div class="col-md-8">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 通知面板
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                                <span class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> 有 3 个作品已经发货
                                    <span class="pull-right text-muted small">
                                        <a href="#">立即查看</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->