<!DOCTYPE html>
<html ng-app="notesApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Notes App</title>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body ng-controller="MainCtrl as ctrl">
    <form ng-submit="ctrl.submit()">
        <input type="text" ng-model="ctrl.user.username">
        <input type="password" ng-model="ctrl.user.password">
        <input type="submit" value="Submit">
    </form>
</body>
<script src="angular.js"></script>
<script>
    angular.module('notesApp',[])
        .controller('MainCtrl',[function(){
        var self = this;
        self.submit = function() {
            console.log('User clicked submit with ',self.user);
        }
    }])
</script>
</html>