<div class="row pay-page" ng-controller="PayController as ctrl">
    <span class="title"><img width="36px"  src="images/paypal.jpg">&nbsp;在线支付</span>
    <div class="row pay-box">
        <div class="col-xs-8 box">
            <img class="product-img" src="{{ctrl.order.work.coverIcon}}">
            <span class="work-name">{{ctrl.order.work.workName}}</span>

        </div>
        <div class="col-xs-4 price-container">
            <span class="price-tag">¥</span>
            <span class="price"><strong>{{ctrl.order.work.workPrice}}</strong></span><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-8" style="margin-bottom: 6px;">
            <a class="btn btn-danger" href="javascript:void(0);" ng-click="ctrl.pay()">立即支付</a>
        </div>
    </div>

</div>