<div class="row">
    <div class="col-md-12 workdetail-content">
        <div class="work-nav">
            <span><a href="#/">首页</a></span> >
            <span><a href="#/">社交/论坛</a></span> >
            <span>蓝色的官网</span>

        </div>
        <div class="content-header">
            <span class="title">蓝色的官网</span>
        </div>
        <div class="row price-div">
            <div class="col-md-7">
                <img class="cover-img" src="images/product-details/1.jpg">
            </div>
            <div class="col-md-4">
                <div class="price-box">
                    售价:
                    <span class="price-tag">¥</span>
                    <span class="price">2600</span><br>
                    (含版权转让费)
                </div>
                <div class="user-div">
                    <p></p>
                    <p></p>
                    <span class="glyphicon glyphicon-user"></span>
                    <span><a href="#/">rrrmandy</a></span>
                    <span>&nbsp;评分:4.5/5.0</span>
                </div>
                <div class="copyright-dest">
                    您支付的价格已经包含了该作品的版权转让费用，购买后您将拥有该作品的全部版权。
                </div>
                <a class="btn btn-danger" href="#/pay/o-34243242342">立即购买</a>
            </div>
        </div>

        <!--文字-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <span class="description">
                    <pre>
页面内容及部分功能经过修改，所有文字均为范例，与真实内容无关。
如果图片侵权，请联系。
If any image nvolves infringement, please contact me immediately！

画面尺寸是1920px*5000px
将画面垂直平均分成了12份
将每个12份平均分成了4份

计算方式，为：
a=40px=1/48 * 1920px
4a=160px=1/12 * 1920px

这是一次尝试性的设计。

微信&QQ：714175178
欢迎吐槽～！

PS：这是一个飞机稿
                    </pre>
                </span>
            </div>
        </div>
        <!--图片-->
        <div class="work-imgs">
            <a href="images/works/1.jpg" target="_blank"><img src="images/works/1.jpg"></a>
            <a href="images/works/2.jpg" target="_blank"><img src="images/works/2.jpg"></a>
            <a href="images/works/3.jpg" target="_blank"><img src="images/works/3.jpg"></a>
        </div>

    </div>
</div>