<div class="row" ng-controller="WorkDetailController as ctrl">
    <div class="col-md-12 workdetail-content">
        <div class="work-nav">
            <span><a href="#/">首页</a></span> >
            <span><a href="#/">{{ctrl.work.category.text}}</a></span> >
            <span>{{ctrl.work.workName}}</span>

        </div>
        <div class="content-header">
            <span class="title">{{ctrl.work.workName}}</span>
        </div>
        <div class="row price-div">
            <div class="col-md-7">
                <img class="cover-img" src="{{ctrl.work.coverIcon}}">
            </div>
            <div class="col-md-4">
                <div class="price-box">
                    售价:
                    <span class="price-tag">¥</span>
                    <span class="price">{{ctrl.work.workPrice}}</span><br>
                    (含版权转让费)
                </div>
                <div class="user-div">
                    <p></p>
                    <p></p>
                    <span class="glyphicon glyphicon-user"></span>
                    <span><a href="#/">{{ctrl.work.designer.name}}</a></span>
                    <span>&nbsp;评分:4.5/5.0</span>
                </div>
                <div class="copyright-dest">
                    您支付的价格已经包含了该作品的版权转让费用，购买后您将拥有该作品的全部版权。
                </div>
                <a class="btn btn-danger" href="#/pay/{{ctrl.work.workId}}">立即购买</a>
            </div>
        </div>

        <!--文字-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <span class="description">
                    <pre>
{{ctrl.work.workDesc}}
                    </pre>
                </span>
            </div>
        </div>
        <!--图片-->
        <div class="work-imgs">
            <a href="{{img}}" target="_blank" ng-repeat="img in ctrl.work.images"><img src="{{img}}"></a>
            <!--<a href="images/works/1.jpg" target="_blank"><img src="images/works/1.jpg"></a>-->
            <!--<a href="images/works/2.jpg" target="_blank"><img src="images/works/2.jpg"></a>-->
            <!--<a href="images/works/3.jpg" target="_blank"><img src="images/works/3.jpg"></a>-->
        </div>

    </div>
</div>