<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">个人中心</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> 账号概况
                </div>
                <div class="panel-body" ng-controller="DesignerAccountController as ctrl">
                    <div class="list-group">
                                <span class="list-group-item">
                                    <!--<i class="fa fa-shopping-cart fa-fw"></i> 3 个未发货订单-->
                                    <!--<span class="pull-right text-muted small">-->
                                        <!--<a href="#">立即处理</a>-->
                                    <!--</span>-->
                                    <div class="designer clearfix">
                                        <div class="designer-div">
                                            <img src="{{ctrl.user.userIcon}}" class="avatar"><br>
                                            <span>{{ctrl.user.username}}</span>
                                        </div>

                                        <div class="rate-div">
                                            <span>评分：<span class="score">4.5</span>/5.0</span><br>
                                            <span>共售出 <span class="sell-num">3</span> 件作品</span><br>
                                            <span>余额：</span>
                                            <span class="balance">¥1600.00</span>
                                            <btn class="btn btn-primary">立即提现</btn>
                                        </div>
                                    </div>

                                </span>
                        <!--<span class="list-group-item">-->

                        <!--</span>-->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> 通知面板
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                                <span class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> 3 个未发货订单
                                    <span class="pull-right text-muted small">
                                        <a href="#">立即处理</a>
                                    </span>
                                </span>
                                 <span class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> 1 个新完成订单
                                    <span class="pull-right text-muted small">
                                        <a href="#">立即查看</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->