<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">未售出作品</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" href="#/new-work">
                <i class="fa fa-plus fa-fw"></i>发布作品
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="work-list">
                <thead>
                    <tr>
                        <th>作品名</th>
                        <th>标价</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="work-cover"><img src="images/products/7.jpg"><span class="work-name">蓝色的官网</span></td>
                        <td><span class="price">¥1600.00</span></td>
                        <td>
                            <a href="#/"><i class="fa fa-eye fa-fw"></i>查看</a>
                            <a href="#/"><i class="fa fa-pencil fa-fw"></i>编辑</a>
                            <a href="#/"><i class="fa fa-trash-o fa-fw"></i>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>