<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">发布新作品</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row"  id="new-work-box">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    作品信息
                </div>
                <div class="panel-body">
                    <div class="row newWorkDiv">
                        <div class="col-lg-8">
                            <form name="newWorkForm" id="newWorkForm">
                                <div class="form-group">
                                    <label>作品名</label>
                                    <input name="workName" class="form-control" id="workName">
                                </div>
                                <div class="form-group">
                                    <label>封面</label>
                                    <input type="file" name="workCover" class="form-control" id="workCover">
                                </div>
                                <div class="form-group">
                                    <label>售价</label>
                                    <input name="workPrice" class="form-control" id="workPrice">

                                </div>
                                <div class="form-group">
                                    <label>描述文本(可不填)</label>
                                    <textarea name="workDescription" id="workDescription" class="form-control work-description" rows="6"></textarea>
                                </div>
                                <div class="form-group" id="workPicDiv">
                                    <label>作品大图</label>
                                    <div class="workPicItem">
                                        <input type="file" name="workPic[]" class="form-control pic-file">
                                    </div>

                                </div>
                                <div class="form-group hide" id="workPicDivTemplate">
                                    <div class="workPicItem">
                                        <input type="file" name="workPic[]" class="form-control pic-file">
                                        <button class="btn btn-danger btn-sm workPicDel" onclick="deletePic(this)">删除</button>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm" onclick="addWorkPic()">添加大图</a>
                                </div>
                                <div class="form-group" id="workFileDiv">
                                    <label>作品文件(.zip或.rar)</label>
                                    <div class="workPicItem">
                                        <input type="file" name="workFile" id="workFile" class="form-control pic-file">
                                    </div>

                                </div>
                                <span class="upload-prompt hide" id="upload-prompt">作品正在上传，请耐心等待...</span>
                                <div class="submit-div">
                                    <button class="btn btn-success"  onclick="saveNewWork()">
                                        <i class="fa fa-cloud-upload  fa-fw"></i>发布作品
                                    </button>
                                    <button class="btn btn-default" >
                                        返回
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    initNewWorkFormValidate();
</script>